.custom {
    /*background-color: #b4ffc5;*/
    /*background-color: #245f37;*/
    background-color: #5B735B;
    background-image: url(../images/png/logo_background.png) !important;
    background-repeat: repeat !important;
    background-size: 25%;
    background-position: 25%, 20%;
    color: #154e15;
    text-align: center;
    /*font-family: sans-serif;*/
}

.gratitude {
    background-image: url(../images/jpg/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    /*color: #f7fff3;*/
    /*font-family: Lucida Grande, Lucida Sans, Arial, sans-serif !important;*/
    background-color: #5B735B;
    background-position: 25%, 20%;
    color: #154e15;
    text-align: center;
}

.gratitude2 {
    background-image: url(../images/jpg/background1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    /*background-repeat: repeat !important;*/
    /*background-size: 25%;*/
    background-color: #5B735B;
    background-position: 25%, 20%;
    color: #154e15;
    text-align: center;
    /*color: #f7fff3;*/
    /*font-family: Lucida Grande, Lucida Sans, Arial, sans-serif !important;*/
}

.admins {
    background-color: #E0FFFF;
    /*background-image: url(../images/png/logo_background.png) !important;*/
    background-repeat: repeat !important;
    background-size: 25%;
    background-position: 25%, 20%;
    color: #154e15;
    text-align: center;
    /*font-family: sans-serif;*/
}


.sdf {
    background: #E3F8FF;
}

.error {
    background-color: #ffd3d3;
    text-align: center;
}

.checkbox-inline label, .radio-inline label{
    font-weight: normal;
}

.topanel {
    height: 30em !important;
}

.admin {
    background-color:  #bce8f1;
}

/*Блок,в котором плавает индикатор надежности пароля*/
#pass11 {
    background: #000;
    width: 98px;
    height: 10px;
    border: 1px solid #fff;
    display: block;
    overflow: hidden;
}

/*индикатор надежности пароля*/
#pass12 {
    margin-left: -102px;
    width: 100px;
    height: 8px;
    background: #f00;
    border: 1px solid #fff;
    display: block;
}

/*индикатор совпадения паролей*/
#pass22 {
    padding: 1px 4px;
    width: 136px;
    display: block;
    font-size: 10px;
}

.t {
    align-content: center;
}

input {
    width: 140px;
}

/*a {*/
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*right: 10px;*/
    /*font-weight: bold;*/
    /*color: #fff;*/
    /*font-size: 50px;*/
/*}*/

.field2 {
    width: 5px;
}

.field3 {
    width: 7px;
}

/*Блок,в котором плавает индикатор надежности пароля*/
#pass11 {
    background: #000;
    width: 98px;
    height: 10px;
    border: 1px solid #fff;
    display: block;
    overflow: hidden;
}

/*индикатор надежности пароля*/
#pass12 {
    margin-left: -102px;
    width: 100px;
    height: 8px;
    background: #f00;
    border: 1px solid #fff;
    display: block;
}

/*индикатор совпадения паролей*/
#pass22 {
    padding: 1px 4px;
    width: 136px;
    display: block;
    font-size: 10px;
}

input {
    width: 140px;
}

/*a {*/
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*right: 10px;*/
    /*font-weight: bold;*/
    /*color: #fff;*/
    /*font-size: 50px;*/
/*}*/

.logo {
    top: 5px; !important;
    right: 100%;
}